/********************************************
 *
 * General styles for KenyaEMR
 *
 ********************************************/

/*** Page header ***/

.ke-page-header {
	border: 5px solid #ffffff;
	background-color: #ffffff;
}

/*** Patient header ***/

.ke-patientheader {
	padding: 4px;
	background-color: #7f7b72;
	overflow: auto;
	color: white;
}

.ke-patientheader .ke-patient-name {
	font-size: 18px;
	font-weight: bold;
}

.ke-patientheader .ke-identifier-type, .ke-patientheader .ke-patient-gender, .ke-patientheader .ke-patient-age, .ke-patientheader .ke-tip {
	color: #dfdbd2;
}

.ke-patientheader .ke-identifier-value {
	color: white;
}

.ke-patientheader button {
	background-color: #c9c3b4;
}

.ke-patientheader button:hover {
	background-color: #d9d3c4;
}

/***** System header *****/

.ke-system-header {
	padding: 3px;
	text-align: center;
	background-color: #AA0000;
	color: white;
}

/***** Visit header *****/

.ke-visit-header {
	padding: 3px;
	text-align: center;
	background-color: #466469;
	color: white;
}

/***** Dynamic form fields *****/

.ke-form-dynamic-field {
	display: block;
	margin: 5px 0 5px 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-two {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 20px;
}

.switch-two input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch-three {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 20px;
}

.switch-three input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}


input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.toggle-label {
	padding-top: 5px;
	font-weight: bold;
}
